%row-gap {
  display: grid;
  grid-row-gap: 3rem;
}

%testemonials-common {
  padding: 3rem;
  line-height: 1.5;
  font-size: 1.5rem;
}


%submit-form-inputs-common{
  &:focus{
    outline: 0.5rem solid var(--color-alice-blue); 
  }
  &::placeholder{
    font-size: 1.5rem;
  }
}
