:root {
  --color-primary-beige-light: #f8f2e8;

  --color-primary-beige-dark: #dfdad1;

  --color-aquamarine: rgba(180, 230, 194, 0.6);

  --color-misty-rose: #f7e2e2;

  --color-light-yellow: rgba(240, 233, 186, 0.6);

  --color-alice-blue: #d6ebf5;

  --color-accent-1: #5ab9a4;

  --color-black: black;

  --deep-gray: #383838;

  --bg-grey: #fafafa;

  --white: white;
  --transparent-white: rgba(255, 255, 255, 0.5);

  --dark-grey-2: #757575;

  --dark-bg: #0b1f27;

  --dark-grey: #b3b3b3;
  --sea-green: #48944f;

  --lavender-blush: #fbebeb;
}
