:root {
  --color-primary-beige-bg: #f8f2e8;
  --color-aquamarine: rgba(180, 230, 194, 0.6);
  --color-misty-rose: #f7e2e2;
  --color-light-yellow: rgba(240, 233, 186, 0.6);
  --color-alice-blue: #d6ebf5;

  --color-accent-1: #5ab9a4;
  --color-black: black;
  --deep-gray: #383838;
  --bg-grey: #fafafa;
  --white: white;
  --transparent-white: rgba(255, 255, 255, 0.5);
  --dark-grey-2: #757575;
  --dark-bg: #0b1f27;
  --dark-grey: #b3b3b3;
  --sea-green: #48944f;
  --lavender-blush: #fbebeb;
}
// COLORS
// $color-primary: #55c57a;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;

// $color-secondary-light: #ffb900;
// $color-secondary-dark: #ff7730;

// $color-tertiary-light: #2998ff;
// $color-tertiary-dark: #5643fa;

// $color-grey-light-1: #f7f7f7;
// $color-grey-light-2: #eee;

// $color-grey-dark: #777;
// $color-grey-dark-2: #999;
// $color-grey-dark-3: #333;

// $color-white: #fff;
// $color-black: #000;

// FONTS
// $default-font-size: 1.6rem;

// GRID
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-vertical-small: 6rem;
// $gutter_horizontal: 6rem;
