.section-aboutus {
 
  grid-column: col-start 3 / col-end 6;
  grid-row: 7/8;
}

.about-us{
  

  &__pageName{
    margin-top: 20rem;
    p{
      font-size: 2.7rem;
      line-height: 2;
    }
  }
}
