.section-features {
  grid-column: col-start 2 / col-end 7;
  grid-row: 4/5;
}

.features {
  &-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    align-items: center;
    justify-items: center;
    grid-row-gap: 30rem;

    &__heading {
      &-1 {
        grid-column: 2 / span 3;
        @include addGap;
        &-2 {
          grid-column: 6 / span 4;
          @include addGap;
        }
      }
    }

    &-imgdiv {
      grid-column: 6 / span 4;

      img {
        width: 100%;
      }
      &-2 {
        grid-column: 1 / span 4;
      }
    }
    &-flex-numlogo {
      display: flex;
      justify-content: space-between;
    }
  }
}
