.section-features {
  margin-top: 20rem;
  grid-column: col-start 2 / col-end 7;
  grid-row: 4/5;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
 
  align-items: end;
  grid-row-gap: 25rem;
  grid-column-gap: 5rem;

  @include respond(phone){
    grid-row-gap: 7rem;
    
  }

  &__headings {
    &-1 {
      z-index: 1000000000000000;
      grid-column: 2 / span 3;
      @extend %row-gap;

      @include respond(tab-port){
        grid-column: 1 / span 4;
      }
      @include respond(phone){
        grid-column: 1 / -1;
        justify-items: center;

      }
      
    }

    &-2 {
      z-index: 1000000000000000;
      grid-column: 6 / span 3;
      @extend %row-gap;

      @include respond(tab-port){
        grid-column: 6 / span 4;
      }

      @include respond(phone){
        grid-column: 1 / -1;
        grid-row: 3/4;
        justify-items: center;

      }
    }

    &--spaceBetween {
      @include spaceBetween;
      cursor: pointer;

      div {
        grid-column: 7/8;
        margin-top: -2rem;
      }
    }
  }

  &__image {
    &-1 {
      @include transition-pointer;
      z-index: 10000;
      grid-column: 6/-1;
      position: relative;
      img {
        width: 100%;

        @include respond(phone){
          width: 80%;
        }
      }

      &--background-shade {
        position: absolute;
        right: -10rem;
        width: 100rem;
        z-index: -1;
        @include respond(phone){
          left: 7rem
        }
      }

      @include hover-scale;

      @include respond(phone){
        grid-column: 1 / -1;
        justify-items: center;
      
      }
    }

    &-2 {
      @include transition-pointer;
      grid-column: 1 / span 4;
      position: relative;

      img {
        width: 100%;

        @include respond(phone){
          width: 80%;
        }
      }

      &--background-shade {
        position: absolute;
        width: 100%;
        left: -5rem;
        top: -10rem;
        z-index: -1;
        @include respond(phone){
          left: -3rem
        }
      }

      @include hover-scale;

      @include respond(phone){
        grid-column: 1 / -1;
        justify-items: center;
      
      }
    }
  }
}
