.section-features {
  border: 1px solid red;
  grid-column: col-start 2 / col-end 7;
  grid-row: 4/5;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.features {
  &__headings-1 {
  }
}
