.section-problems {
  grid-column: col-start 2 / col-end 7;
  grid-row: 3/4;
  border: 1px solid red;

  &__cards {
    display: grid;
    grid-template-columns: repeat(8, 1fr);

    &-card {
      display: flex;
    }
  }
}

.number-icon {
  display: flex;
}
