.heading-primary {
  font-weight: 700;
  font-size: 4.5rem;

  align-self: center;
  justify-self: center;
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 500;
}

.heading-4 {
  text-align: center;
  font-weight: 400;
  color: var(--dark-grey-2);
  text-transform: uppercase;
}
